<div class="item-container">
  <ul class="items-list">
    <ng-container *ngFor="let item of tabsItem">
      <li
        [style]="
          item
            ? 'font-weight:' +
              item.style?.weigth +
              '; font-size:' +
              item.style?.fontsize +
              'px' +
              '; color:' +
              item.style?.color +
              '; margin-bottom: ' +
              item.style?.margin +
              'px'
            : ''
        "
        [style.listStyle]="'none'"
      >
        {{ item.content }}
      </li>
    </ng-container>
  </ul>
</div>
