:host ::ng-deep {

  .button-login-container {
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 15px;
      font-weight: 300;
      border: none;
      background-color: var(--primary-bg-color);
      cursor: pointer;

      &.btn-signup {
        padding: 10px 20px 10px 5px;
        position: relative;
      }

      &.btn-signup::after {
        content: "";
        display: block;
        height: 20px;
        width: 1px;
        background-color: #000000;
        position: absolute;
        top: 9px;
        left: 0;
      }

      &.btn-login {
        padding: 10px 5px 10px 20px;
      }
    }
  }

}